{% if pagination.pages > 0 %}
  <nav role="navigation" class="flex justify-center my-8">
    {% if paginnation.previous %}
      <a href="{{ pagination.previous }}">
        {{ pagination.previous.title }}
      </a>
    {% endif %}
    {% if pagination.next %}
      <a href="{{ pagination.next.url }}">
        {{ pagination.next.title }}
      </a>
    {% endif %}
  </nav>
{% endif %}